<div id="logging">
  <h1>Sign Up Page</h1>
  <br>

  <form action="/signup" method="POST" id="signup">
    Username: <input type="text" name="username">
    <br></br>
    Password: <input type="password" name="password">
    <br></br>
    Email: <input type="email" name="email">
    <br></br>
    Bio: <textarea name="bio" placeholder="Enter your bio in here" style="width: 25%"></textarea>

    <br></br>
    <input type="submit" value="Sign Up">
  </form>
</div>