<div id="home_text_logoff">
<h1>Welcome to has_many_recipes</h1>
<p>For full access to the site I suggest you <a href="/login">Log In</a> but it's not fully necessary.</p>

<p>If you don't have an account, you can also <a href="/signup">Sign Up</a>.</p>

<p>This purpose for this website is to save and find new recipes, all user submitted.</p>

<p>You have access to all the Categories (breakfast, lunch) of recipes on this page. All the recipes and a list of the users submitting to the page.</p>

<p>For that view, click one of the options on the top bar.</p>
</div>