<!DOCTYPE html>
<html>
  <head>
    <!--
     Williams Recipe App! :D
  -->
  <style type="text/css">
    table {
      border-bottom: 1px solid black;
    }


    #home_text {
      float: left;
      width: 66.66%;
    }

    #random_recipe {
      float: right;
      text-align: center;
      right: 4%;
      width: 33.33%;
      padding: 2%;
      border: 1px solid grey;
    }

    #friend_list {
      clear: right;
      float: right;
      text-align: center;
      right: 4%;
      width: 33.33%;
      padding: 1%;
      border: 1px solid grey;
    }

    #follow_list_title {
      text-align: center;
    }


    #follow_list_left {
      float: left;
      width: 50%;
      text-align: center;
    }

    #follow_list_right {
      float: right;
      width: 50%;
      text-align: center;
    }


    * {
      box-sizing: border-box;
    }

  </style>



  <% if Helper.logged_in?(session) %>
    <table style="width:100%">
      <tr>
        <th><a href="/home">Home</a></th>
        <th><a href="/categories">Category</a></th>
        <th><a href="/recipes">Recipes</a></th>
        <th><a href="/users">Users</a></th>
        <th><a href="/recipes/new">New Post</a></th>
        <th><a href="/logout">Log Out</a></th>
      </tr>
    </table>
  <% end %>
  </head>
  <body>
    <%= yield %>
  </body>

</html>
