<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
     Williams Recipe App! :D
  -->
  <style type="text/css">
    table {
      border-bottom: 1px solid black;
      text-align: center;
    }

    th {
      text-align: center;
    }

    html {
      background-color: #ecf0f1;
    }


    #home_text {
      float: left;
      width: 66.66%;
    }

    #home_text_logoff {
      text-align: center;
    }

    #random_recipe {
      background-color: white;
      float: right;
      text-align: center;
      right: 4%;
      width: 33.33%;
      padding: 2%;
      border: 1px solid grey;
      box-shadow: 0px 2px 3px #888888;
    }

    #friend_list {
      background-color: white;
      clear: right;
      float: right;
      text-align: center;
      right: 4%;
      width: 33.33%;
      padding: 1%;
      border: 1px solid grey;
      box-shadow: 0px 2px 3px #888888;
    }

    #home_following_recipe {
      background-color: white;
      box-shadow: 0px 0px 3px #888888;
      padding: 2%;
      width: 99%
    }

    #follow_list_title {
      text-align: center;
    }


    #follow_list_left {
      float: left;
      width: 50%;
      text-align: center;
    }

    #follow_list_right {
      float: right;
      width: 50%;
      text-align: center;
    }

    #recipe_view {
      padding: 1%;
    }

    #recipe_view p {
      text-indent: 20px;
      font-size: 95%;
    }

    #view {
      padding: 1%;
    }

    #view ul {
      list-style-type: none;
      columns: 2;
    }

    #view li {
      width: 50%;
    }

    #view h2 {
      font-size: 175%;
    }

    #view h3 {
      font-size: 150%
    }

    #user_profile {
      padding: 1%;
    }

    #user_profile ul {
      columns: 2;
      list-style-type: none;
    }

    #user_profile ul li {
      border-left: 3px solid #34495e;
      padding-left: 1%;
    }

    /* unvisited link */ /* visited link */
    a:link, a:visited {
        color: #2980b9;
    }

    /* mouse over link */
    a:hover {
        color: #34495e;
    }

    /* selected link */
    a:active {
        color: #3498db;
    }

    input[type=submit] {
    padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    border-radius: 5px; 

    }

    input[type=submit]:hover {
    padding:5px 15px; background:#3498db; border:0 none;
    cursor:pointer;
    border-radius: 5px; 

    }

    * {
      box-sizing: border-box;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

  </style>

    <% if logged_in? %>
      <table style="width:100%">
        <tr>
          <th style="width:16.6%"><a href="/home">Home</a></th>
          <th style="width:16.6%"><a href="/categories">Category</a></th>
          <th style="width:16.6%"><a href="/recipes">Recipes</a></th>
          <th style="width:16.6%"><a href="/users">Users</a></th>
          <th style="width:16.6%"><a href="/recipes/new">New Recipe</a></th>
          <th style="width:16.6%"><a href="/logout">Log Out</a></th>
        </tr>
      </table>

    <% else %>
      <table style="width:100%">
        <tr>
          <th style="width: 20%"><a href="/home">Home</a></th>
          <th style="width: 20%"><a href="/categories">Category</a></th>
          <th style="width: 20%"><a href="/recipes">Recipes</a></th>
          <th style="width: 20%"><a href="/users">Users</a></th>
          <th style="width: 20%"><a href="/login">Log In</a></th>
        </tr>
      </table>

    <% end %>

  </head>
  <body>
    <%= yield %>

  </body>

</html>
