<!DOCTYPE html>
<html>
  <head>
    <!--
     Williams Recipe App! :D
  -->
  <% if Helper.logged_in?(session) %>
    <table style="width:100%">
      <tr>
        <th><a href="/home">Home</a></th>
        <th><a href="/categories">Category</a></th>
        <th><a href="/recipes">Recipes</a></th>
        <th><a href="/users">Users</a></th>
        <th><a href="/recipes/new">New Post</a></th>
      </tr>
    </table>
  <% end %>
  </head>
  <body>
    <%= yield %>
  </body>

</html>
