<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
     Williams Recipe App! :D
  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
  </head>

  <body>
    <% if logged_in? %>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">h_m_r</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/home">Home</a></li>
              <li><a href="/categories">Category</a></li>
              <li><a href="/recipes">Recipes</a></li>
              <li><a href="/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/users/<%= current_user.slug %>">Profile</a></li>
                  <li><a href="/follow_list">Follow List</a></li>
                  <li><a href="/recipes/new">Create Recipe</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/logout">Log Out</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    <% else %>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">h_m_r</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/home">Home</a></li>
              <li><a href="/categories">Category</a></li>
              <li><a href="/recipes">Recipes</a></li>
              <li><a href="/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login">Log In</a></li>
              <li><a href="/signup">Sign Up</a></li>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    <% end %>

    <%= yield %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </body>

</html>
