<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
     Williams Recipe App! :D
  -->
  <style type="text/css">
    table {
      border-bottom: 1px solid black;
      text-align: center;
    }

    th {
      text-align: center;
    }


    #home_text {
      float: left;
      width: 66.66%;
    }

    #random_recipe {
      float: right;
      text-align: center;
      right: 4%;
      width: 33.33%;
      padding: 2%;
      border: 1px solid grey;
    }

    #friend_list {
      clear: right;
      float: right;
      text-align: center;
      right: 4%;
      width: 33.33%;
      padding: 1%;
      border: 1px solid grey;
    }

    #follow_list_title {
      text-align: center;
    }


    #follow_list_left {
      float: left;
      width: 50%;
      text-align: center;
    }

    #follow_list_right {
      float: right;
      width: 50%;
      text-align: center;
    }

    /* unvisited link */ /* visited link */
    a:link, a:visited {
        color: #2980b9;
    }

    /* mouse over link */
    a:hover {
        color: #34495e;
    }

    /* selected link */
    a:active {
        color: #3498db;
    }

    * {
      box-sizing: border-box;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

  </style>

    <% if logged_in? %>
      <table style="width:100%">
        <tr>
          <th><a href="/home">Home</a></th>
          <th><a href="/categories">Category</a></th>
          <th><a href="/recipes">Recipes</a></th>
          <th><a href="/users">Users</a></th>
          <th><a href="/recipes/new">New Recipe</a></th>
          <th><a href="/logout">Log Out</a></th>
        </tr>
      </table>

    <% else %>
      <table style="width:100%">
        <tr>
          <th><a href="/home">Home</a></th>
          <th><a href="/categories">Category</a></th>
          <th><a href="/recipes">Recipes</a></th>
          <th><a href="/users">Users</a></th>
          <th><a href="/login">Log In</a></th>
        </tr>
      </table>

    <% end %>

  </head>
  <body>
    <%= yield %>

  </body>

</html>
